# Environment variables
.env

# Virtual environment
venv/
env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Database files
*.db
*.sqlite

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data
data/*.db
data/*.csv

